.button{
    background-color: rgba(23,26,32,0.8);
    height: 40px;
    width: 256px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 100px;
    opacity: 0.85;
}

.button>a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-align: center;
}

.button_white{
    background-color: white;
    opacity: 0.85;

}

.button_white>a{
    color: black;
}