.header{
    display: flex;
    background-color: transparent;
    background: none;
    position: fixed;
    width: 100%;
    top: 0;
    margin: 15px;
    margin-top: 10px;
    margin-left: 30px;
    z-index: 100;
    font-size: 14px;
    font-weight: 400;
    color: #08090a;
}

.header_logo{
    height: 13px;
    width: 60px;
    margin-top: 7px;
}

.header_center{
    flex: 1;
    display: flex;
    justify-content: center;
}

.header_center>p{
    margin: 10px;
    text-transform: uppercase;
}

.header_right{
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
}

.header_right>p{
    
    margin-top:8px ;
    margin-right:50px;
    
}