@font-face{
  font-family: "iCielmedium";
  src: local("iCielmedium"), url("./fonts/iCiel-Medium.ttf") format("truetype");
  font-weight: normal;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "iCielmedium", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
